<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143875851-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-143875851-1');
    </script>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="<%= [assigns[:description] || nil, "Leetcode Solutions contains explanations and answers to algorithms and data structure interview questions."] |> Enum.reject(&is_nil/1) |> Enum.join(" ") %>"/>
    <title><%= [assigns[:title] || nil, "Leetcode Solutions"] |> Enum.reject(&is_nil/1) |> Enum.join(" | ") %></title>
    <%# <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css"> %>
    <link rel="stylesheet" id="prism-theme" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/themes/prism-solarizedlight.min.css" />
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>" />
    <link rel="icon" href="/favicon-32.png" sizes="32x32" />
    <link rel="icon" href="/favicon-76.png" sizes="76x76" />
    <link rel="apple-touch-icon" href="/favicon-120.png" sizes="120x120" />
    <meta name="msapplication-TileColor" content="#fdf6e3">
    <meta name="msapplication-TileImage" content="/favicon-144.png">
    <link rel="apple-touch-icon" href="/favicon-152.png" sizes="152x152" />
    <link rel="apple-touch-icon" href="/favicon-180.png" sizes="180x180" />
    <link rel="icon" href="/favicon-192.png" sizes="192x192" />
    <link rel="shortcut icon" href="/favicon-196.png" sizes="196x196" />
  </head>
  <body>
    <header>
      <section class="navigation container">
        <nav role="navigation">
          <ul>
            <li><a href="<%= Routes.problems_path(@conn, :index) %>">All Problems</a></li>
          </ul>
        </nav>
        <a href="<%= Routes.page_path(@conn, :index) %>" class="navigation-home-link">
          <img height="27" width="auto" id="navigation-home-link-logo" src="<%= Routes.static_path(@conn, "/images/wordmark-light.svg") %>" />
        </a>
      </section>
    </header>
    <main role="main" class="container">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/components/prism-core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/plugins/autoloader/prism-autoloader.min.js"></script>
    <script>Prism.plugins.autoloader.languages_path = 'https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/components/'</script>
  </body>
</html>
