<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= [assigns[:title] || nil, "Leetcode Solutions"] |> Enum.reject(&is_nil/1) |> Enum.join(" | ") %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/themes/prism-solarizedlight.min.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <section class="navigation container">
        <nav role="navigation">
          <ul>
            <li><a href="<%= Routes.problems_path(@conn, :index) %>">All Problems</a></li>
          </ul>
        </nav>
        <a href="<%= Routes.page_path(@conn, :index) %>" class="navigation-home-link">
          <h1>Leetcode Solutions</h1>
        </a>
      </section>
    </header>
    <main role="main" class="container">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/components/prism-core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/plugins/autoloader/prism-autoloader.min.js"></script>
    <script>Prism.plugins.autoloader.languages_path = 'https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/components/'</script>
  </body>
</html>
