/* This file is for your main application css. */

html, body {
  font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 16px;
}

body {
  line-height: 1.7rem;
  margin: 1em;
  /* Add space at the bottom to allow links at the bottom to be reachable on iOS */
  padding-bottom: 3rem;
}

a {
  color: #2aa198;
  text-decoration: none;
}

button {
  /* Reset everything first */
  background: transparent;
  border: none;
  color: inherit;
  font: inherit;
  line-height: normal; /* Cannot be changed from `normal` in Firefox 4+. */
  margin: 0;
  overflow: visible;
  padding: 0;
  width: auto;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none; /* Corrects inability to style clickable `input` types in iOS */

  background: #fdf6e3;
  border: 1px solid transparent;
  border-radius: 0.3rem;
  box-shadow: 0 1px 3px 2px #eee8d5;
  color: #2aa198;
  font-size: 0.95rem;
  padding: 0.5rem;
  transition: all 0.2s;
}
button:hover {
  box-shadow: 0 3px 5px 3px #eee8d5;
}
button:active {
  background: #eee8d5;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.05) inset;
}

code {
  font-family: "Fira Code",SFMono-Regular,Consolas,"Liberation Mono",Monaco,monospace;
  font-size: 0.95rem;
}

code.inline {
  background: #fdf6e3;
  border-radius: 0.3rem;
  color:#657b83;
  padding: 0 0.3rem;
}

pre {
  border-left: 0.4rem solid #073642;
  border-radius: 0.3rem;
  line-height: 1.5rem;
  padding-left: 1rem;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
}

nav ul li {
  display: inline-block;
}

main a {
  transition: background 0.2s;
}

main a:hover {
  background: #fdf6e3;
}

main a:visited {
  /* color: #6c71c4; */
}

main h1 {
  font-size: 2rem;
  line-height: 1.4em;
  margin-bottom: 0.5rem;
}

.container {
  max-width: 800px;
  margin: auto;
}

.navigation {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.navigation h1 {
  margin-bottom: 0;
}

.problems-list {
  list-style: none;
  padding-left: 0;
}

.problems-list .problem-number {
  display: inline-block;
  text-align: right;
  width: 30px;
}


