@media (prefers-color-scheme: dark) {
  html {
    color: white;
  }

  body {
    background: rgb(30, 30, 30);
  }

  a, a code.inline {
    color: #7ec699;
  }

  button {
    background: #2d2d2d !important;
    border: 1px solid #7ec699 !important;
    border-radius: 0.3rem;
    box-shadow: none;
    color: #7ec699 !important;
  }
  button:hover {
    box-shadow: 0 3px 5px 3px #444 !important;
  }
  button:active {
    background: #000;
    box-shadow: none !important;
  }

  code.inline {
    background: #2d2d2d;
    color:#ccc;
  }

  fieldset {
    border-left: 0.4rem solid #67cdcc;
  }

  input[type='text'], input[type='email'] {
    background: transparent;
    border: 1px solid #7ec699;
  }

  pre {
    border-left: 0.4rem solid #67cdcc;
  }

  main a:hover {
    background: #2d2d2d;
  }
}
